.input-container {
  box-sizing: border-box;
  width: 70px;
  height: 44px;
  background-color: #deebf8;
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.number {
  margin: 0;
  width: fit-content;
  position: absolute;
  left: 12px;
  font-size: 1.3rem;
  font-weight: 700;
}

.arrow-up {
  position: absolute;
  top: 9px;
  right: 7px;
  cursor: pointer;
}

.arrow-down {
  position: absolute;
  bottom: 9px;
  right: 7px;
  cursor: pointer;
}
