#root {
  height: 100vh;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  height: 100vh;
  background-color: #f5f7fb;
  background-image: url('./assets/top-blob.png'),
    url('./assets/bottom-blob.png');
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.score {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 1rem;
  color: #293264;
}

@media (max-width: 540px) {
  .container {
    align-items: center;
    padding: 1rem;
    width: 100%;
  }
}
