:root {
  font-family: Inter, Karla, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #f5f7fb;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn-large,
.btn-regular {
  font-family: Inter;
  font-weight: 500;
  background: #4d5b9e;
  color: #f5f7fb;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 20px 0 #21354710;
}

.btn-large {
  border-radius: 15px;
  font-size: 1rem;
  padding: 1rem 1.75rem;
  width: 150px;
}

.btn-regular {
  border-radius: 10px;
  font-size: 0.675rem;
  padding: 0.625rem 1.25rem;
  width: 120px;
}

:is(.btn-large, .btn-regular):active {
  box-shadow: inset 5px 5px 20px 1px #21354750;
}

.gap-1 {
  gap: 1rem;
}

.flex-start {
  justify-content: flex-start;
}

.appearance-none {
  appearance: none;
  height: 0;
  width: 0;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.gap-1 {
  gap: 1rem;
}

.align-center {
  align-items: center;
}

.pointer-not-allowed {
  cursor: not-allowed;
}

.size-1 {
  width: 140px;
}

.size-2 {
  width: 230px;
}

.disabled {
  opacity: 30%;
  cursor: not-allowed;
}

h1 {
  color: #293264;
  font-size: 4rem;
  font-family: Inter;
  font-weight: 800;
  margin: 1rem;
}

p {
  color: #293264;
  font-size: 1.5rem;
  font-family: Karla;
  font-weight: 700;
  margin: 0.5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
